mat-table{
    width: 90%;
    border-collapse:separate;
    overflow:hidden !important;
}

mat-cell{
    font-size: 1.5vw;
}

mat-header-cell{
    font-size: 2vw;
}

mat-accordion{
    width: 90%;
}

mat-card{
    width: 90%;
}

.not-empty-select.mat-selected {
    color: white !important;
}

.not-empty-select.mat-selected {
    color: white !important;
}
  
:host /deep/ .mat-select-value-text {
    color: white !important;
}
.skillFont{
    font-size: 1vh;
}

.flex-font{
    white-space: normal;
    font-size:calc(8px + .55vw);
}

.labelFont{
    font-size: 2vw;
}

.smallerFont{
    font-size: 1.5vw;
}

.mat-form-field-wrapper {
    margin-bottom: -1.25em;
}