mat-table{
    width: 90%;
    border-collapse:separate;
    overflow:hidden !important;
}

mat-cell{
    font-size: 1.5vw;
}

mat-header-cell{
    font-size: 2vw;
}

mat-accordion{
    width: 90%;
}

mat-card{
    width: 90%;
}

.skillFont{
    font-size: 1vh;
}

.fixedFont{
    font-size: 2vw;
}

.labelFont{
    font-size: 2vw;
}

.smallerFont{
    font-size: 1.5vw;
}