<div class="bg-grey-800 flex flex-col justify-center items-center">
  <div class="mb-5 labelFont text-center whitespace-pre-wrap font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600">Lets Connect</div>

  <div class="w-11/12 mb-5 flex flex-row space-x-4 justify-center items-center">
    <a href={{gitHubUrl}} target="_blank" class="inline-flex">
      <img src='./assets/github-logo.png' width="80vw" alt="GitHub">
    </a>
    <a href={{linkedInUrl}} target="_blank" class="inline-flex">
      <img src='./assets/linkedin.png' width="80vw" alt="LinkedIn">
    </a>
    <a href={{instagramUrl}} target="_blank" class="inline-flex">
      <img src='./assets/instagram.png' width="80vw" alt="instagram">
    </a>
  </div>

  <div class="title-font text-center whitespace-nowrap font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600">Skills</div>

<form [formGroup]="select" class="w-full text-center">
  <mat-form-field appearance="fill" class="w-11/12 bg-transparent border-t-1 border-gray-900 rounded-lg">
    <mat-label class="text-white">Sort</mat-label>
    <mat-select [formControl]="selectedControl">
      <mat-option value="None">All</mat-option>
      <div *ngFor="let category of p.getSkillCategories()">
        <mat-option value="{{category}}">{{category}}</mat-option>
      </div>
    </mat-select>
  </mat-form-field>
</form>

  <mat-action-list #skillSelection class="w-full">
    <button mat-list-item *ngFor="let skill of getSortedSkills(selectedControl.value)" (click)="sendToDrawer(skill.getSkillId())" class="w-full">
      <div class="w-full">
        <span class="flex text-gray-50 flex-font">{{skill.getSkillName()}}</span>
      </div>
      <mat-divider></mat-divider>
    </button>
  </mat-action-list>
</div>



