.fixedFont{
    font-size: 2vw;
}

.labelFont{
    font-size: 4vw;
}

.buttonFont{
    font-size: 970;
}

.flexFont{
    white-space: normal;
    font-size:calc(8px + .55vw);
    /* font-size: 8px; */
}

.not-empty-select.mat-selected {
    color: white !important;
}

.not-empty-select.mat-selected {
    color: white !important;
}
  
:host /deep/ .mat-select-value-text {
    color: white !important;
}

form{
    font-size: medium;
}

.point{
    cursor: pointer;
}