<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div class="text-center whitespace-nowrap text-full-screen font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600">Nicholas Farkas</div>
    <div class="headerTxt text-center whitespace-nowrap font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600">nicholaswfarkas@gmail.com | (313) 969-3310</div>
    <div class="grid grid-cols-3">
      <skills-view class="skills col-span-1" [p]='p'></skills-view>

      <work-experience-view class="col-span-2" [p]='p'></work-experience-view>
    </div>
  </body>
</html>


