<mat-drawer-container class="bg-gray-800 text-justify" [hasBackdrop]="false">
    <mat-drawer #drawer mode="over" position="end" class="text-white p-5 bg-gray-800 border-l-8 border-gray-900">
        <div class="labelFont text-center whitespace-normal">
            {{skillName}}
        </div>
        <br>
        <div class="size whitespace-normal">
            {{skillDescription}}
        </div>
        <br>
        <div class="text-center gaugeLabelFont">Skill Rating</div>
        <div class="text-center">
            <ngx-gauge [type]= "'arch'"
            [foregroundColor]="'rgba(255,255,255, 0.9)'"
            [value]="getRate()" 
            [max]="10"
            [size]="getGuageSize()"
            [thick]="10"
            [append]="'/10'">
            </ngx-gauge>
        </div>
        <br>
        <div class="text-center">
            <button mat-stroked-button (click)="drawer.close()" class="bg-gray-700 rounded-md closeFont p-3">Close Skill</button>
        </div>

    </mat-drawer>
    <div class="grid grid-cols-4">
        <skills-view [p]='p' (selectedSkill)="selectedSkillChangedHandler($event)"></skills-view>

        <div class="col-span-3 bg-black border-l-8 border-t-8 border-gray-900">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab>
                  <ng-template mat-tab-label>Experience</ng-template>
                  <work-experience-view [p]='p'></work-experience-view>
                </mat-tab>
              
                <mat-tab>
                  <ng-template mat-tab-label>Education</ng-template>
                  <education-view [p]='p' class="h-80"></education-view>
                </mat-tab>
              </mat-tab-group>
        </div>
    </div>
</mat-drawer-container>