.fixedFont{
    font-size: 1.4vw;
}

.flexFont{
    white-space: normal;
    font-size:calc(8px + .55vw);
    /* font-size: 8px; */
}

.white{
    color: white;
}

.title-font{
    font-size: 4vw;
}

.subtitle-font{
    font-size: calc(5px + .75vw);
}

mat-icon.bullet{
    font-size: 1vw;
}

mat-card{
    padding: 0pt;
}

.work-card-container{
    vertical-align: middle;
}